

/* 1376-1650px */
@media screen and (max-width: 1650px) {
  
}

/* 1200-1375px */
@media screen and (max-width: 1375px) {

}


/* 993-1200px */
@media screen and (max-width: 1200px) {
  .container{
    width: 960px;
  }
  .guest__table td:nth-child(8) {
    width: 15%;
}
.guest__table td:nth-child(6) {
  width: 15%;
}
.guest__table td:nth-child(4), .guest__table td:nth-child(5) {
  width: 10%;
}
.guest__table td:nth-child(2) {
  width: 21%;
}
.users-admin .order__col:nth-child(7) {
  width: 25%;
}

}
 
/* 769-992px */
@media screen and (max-width: 992px) {
  .container {
      width: 90%;
  }
  .header__nav {
    padding: 30px 0;
    position: absolute;
    top: 64px;
    right: -100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
         box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    width: 50%;
    z-index: 120;
  }
  .header__nav.open {
    right: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    overflow-y: scroll;
  }
  .header__nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    padding: 0 20px;
    margin: 0;
  }
  .header__nav > ul > li {
    padding: 9px 13px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.2);
    width: 100%;
  }
  .header__nav > ul > li > a {
    display: inline-block;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    
  }
  body.open {
    overflow: hidden;
  }
  .sub-menu {
    display: block;
    position: static;
    padding-left: 30px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .menu-item:hover, .menu-item.active {
    background: none;
}

  .header__main-menu > li:not(:last-child) {
    margin-right: 0px;
}
.menu-item-has-children:after {
  display: none;
}



  .header__nav > ul > li.menu-item-has-children:hover > .sub-menu {
    display: block;
  }
  .header__nav__list .sub-menu > li {
    text-align: left;
  }
 
  
  .header_nav > ul > li.menu-item-has-children::after {
    display: none;
  }
  .header__nav > ul > li.menu-item-has-children > a::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 7px;
    margin-left: 7px;
  }
  .menu_btn {
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    z-index: 3;
  }
  .bar {
    position: relative;
    display: block;
    width: 29px;
    height: 5px;
    margin: 0 auto;
    background-color: #142142;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
  }
  .bar:nth-of-type(1) {
    top: 9px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(2) {
    top: 12px;
    -moz-transition: ease 0.3s 0.3s;
    -o-transition: ease 0.3s 0.3s;
    -webkit-transition: ease 0.3s;
    -webkit-transition-delay: 0.3s;
    -webkit-transition: ease 0.3s 0.3s;
    transition: ease 0.3s 0.3s;
    -webkit-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(3) {
    top: 15px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .menu_btn.open .bar:nth-of-type(1) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  .menu_btn.open .bar:nth-of-type(2) {
    opacity: 0;
  }
  .menu_btn.open .bar:nth-of-type(3) {
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
         transform: rotate(-45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  table>tbody>tr>td>span.footable-toggle {
    display: none !important;
  }
  table.footable-details>tbody>tr>th:nth-child(1) {
    min-width: 140px;
}
table.footable-details>tbody>tr>td {
  width: 50% !important;
}

.footable-detail-row .order__table {
  margin-top: 0 !important;
}
.profile__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile__left {
  width: 100%;
  border-right: none;
  padding: 30px 0 50px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.profile__right {
  width: 100%;
  padding: 104px 0 0 0;
}
table.footable-details>tbody>tr>th:nth-child(1) {
  text-align: left;
}
.menu-item-logout a {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__admin .menu-item:not(:last-child) {
  margin-right: 0;
}
.order__gp-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.order__gp-rwrap {
  margin: 0 0 15px;
}
.order__gp-detwrap {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.order__gp-detcard {
  width: 49%;
  margin: 0 0 20px !important;
}
.order__gp-comment {
  width: 100%;
}

}

/* 577-768px */
@media screen and (max-width: 768px) {
  .outreach p {
    width: 100%;
  }
  .admin__order-table .order__price input {
    width: 165px;
}
.user__btn-unset,
.user__btn-set {
  padding: 10px 16px;
}
}


/* 320-576px */
@media screen and (max-width: 576px) {
  .login__form {
    padding: 24px;
    width: 100%;
  }
  .form__email {
    margin-bottom: 16px;
}
.login {
  padding: 40px 0;
}
.login__logo {
  margin-bottom: 40px;
}
.guest p {
  margin-bottom: 17px;
}
p {
  line-height: 20px !important;
  font-size: 14px !important;
}
.content {
  padding: 84px 0 174px;
}
table.footable-details>tbody>tr>td {
  width: 64% !important;
}
.footer__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer__req {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .btn,
.footer .btn-sec {
    font-size: 12px;
    display: block;
}
.header__nav {
  width: 100%;
}
.footer__select .btn {
  width: 100% !important;
  display: block;
  margin: 0 0 7px !important;
  padding: 10px !important;
} 
.outreach p {
  margin-bottom: 24px;
}
.outreach__wrap {
  width: 100%;
}
.request__inp-wrap {
  margin-bottom: 12px;
}
.profile__right {
  padding: 0 0 40px;
}
.title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}
.profile__wrap p {
  margin-bottom: 20px;
}
.profile__month {
  margin-right: 10px;
}
.profile__check {
  margin-right: 10px;
}
.profile__plans-wrap {
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile__plan-free,
.profile__plan-mon {
  width: 100% !important;
  padding: 32px 20px !important;
  border: none;
}

.profile__plan-free,
.profile__right{
  border-bottom: 1px solid #E0E0E0;
}
.profile__btns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile__btns .btn-sec {
  width: 100%;
}
.profile__btns .btn-sec:first-child {
  margin-bottom: 10px;
}
.profile__inp-wrap:not(:last-of-type) {
  margin-bottom: 28px;
}
.nopb {
  padding: 84px 0 0;
}
.request__btns a {
  font-size: 12px;
}
.order__gp-wrap {
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.order__gp-left {
  margin-bottom: 20px;
}
.order__gp-detcard {
  width: 100%;
}
.order__gp-detail {
  margin: 20px 0;
}
.user__btn-unset,
.user__btn-set {
  font-size: 12px;
    padding: 10px;
}
}
